<!DOCTYPE html>
<html lang="en">
<Head></Head>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hearing Test</title>
<form method="POST" action="{{ url_for('rightLeft') }}">
    <h2>Test your right ear</h2>
    <input type="hidden" name="ear" value="right">
    <button type="submit">Test Right Ear</button>
</form>
<form method="POST" action="{{ url_for('rightLeft') }}">
    <h2>Test your left ear</h2>
    <input type="hidden" name="ear" value="left">
    <button type="submit">Test Left Ear</button>
</form>
</body>
</html>