{% extends "base.html" %}
{% block content %}
<h1 class="freq-headings">Hearing Test</h1>
<form id="toneForm" onsubmit="event.preventDefault(); playTone(event);">
  <input type="hidden"  id="channel" name="ear" value={{ear}}>
    <div id="frequency-container">
        <h2 class="freq-headings">Frequency: <span id="current-frequency">2000</span></h2>
        <div id="button-container">

            <button type="submit" name="dbLevel" value="30"  class = "dbbutton" onclick="playTone2000(event)">1</button>
            <button type="submit" name="dbLevel" value="40"  class = "dbbutton" onclick="playTone2000(event)">2</button>
            <button type="submit" name="dbLevel" value="50"  class = "dbbutton" onclick="playTone2000(event)">3</button>
            <button type="submit" name="dbLevel" value="60"  class = "dbbutton" onclick="playTone2000(event)">4</button>
            <button type="submit" name="dbLevel" value="70"  class = "dbbutton" onclick="playTone2000(event)">5</button>
            <button type="submit" name="dbLevel" value="80"  class = "dbbutton" onclick="playTone2000(event)">6</button>
            <button type="submit" name="dbLevel" value="90"  class = "dbbutton" onclick="playTone2000(event)">7</button>
        </div>
    </div>
</form>
<form method="POST">
    <h2 class="freq-headings">chose the least tone that you can barely hear</h2>
    <div class="radio-group">
        <label>
          <input type="radio" name="heard" value="30">
          <span class="custom-radio"></span> 1
        </label>
        <label>
          <input type="radio" name="heard" value="40">
          <span class="custom-radio"></span> 2
        </label>
        <label>
          <input type="radio" name="heard" value="50">
          <span class="custom-radio"></span> 3
        </label>
        <label>
          <input type="radio" name="heard" value="60">
          <span class="custom-radio"></span> 4
        </label>
        <label>
          <input type="radio" name="heard" value="70">
          <span class="custom-radio"></span> 5
        </label>
        <label>
          <input type="radio" name="heard" value="80">
          <span class="custom-radio"></span> 6
        </label>
        <label>
          <input type="radio" name="heard" value="90">
          <span class="custom-radio"></span> 7
        </label>
    </div>
    <div id="SubmitB">
        <button  type="submit" class="button2">Submit</button>
    </div>
  </form>

{% endblock %}