{% extends "layout.html" %}
{% block content %}
<h1>Hearing Test</h1>
<form method="POST" action="{{ url_for('playtone4000') }}">
    <div id="frequency-container">
        <h2>Frequency: <span id="current-frequency">4000</span></h2>
        <div id="button-container">
            <button type="submit" name="dbLevel" value="30">30 dB</button>
            <button type="submit" name="dbLevel" value="40">40 dB</button>
            <button type="submit" name="dbLevel" value="50">50 dB</button>
            <button type="submit" name="dbLevel" value="60">60 dB</button>
            <button type="submit" name="dbLevel" value="70">70 dB</button>
            <button type="submit" name="dbLevel" value="80">80 dB</button>
            <button type="submit" name="dbLevel" value="90">90 dB</button>
        </div>
    </div>
    <div>
        <label><input type="radio" name="heard" value="30"> 30</label>
        <label><input type="radio" name="heard" value="40"> 40</label>
        <label><input type="radio" name="heard" value="40"> 50</label>
        <label><input type="radio" name="heard" value="40"> 70</label>
        <label><input type="radio" name="heard" value="40"> 80</label>
        <label><input type="radio" name="heard" value="40"> 90</label>
    </div>
    <div>
        <button type="submit" formaction="{{ url_for('playtone8000') }}">submit</button>
        
    </div>
</form>
{% endblock %}